/* public-sans-100 - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/public-sans-v5-latin-100.eot"); /* IE9 Compat Modes */
  src:
  url("../fonts/public-sans-v5-latin-100.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/public-sans-v5-latin-100.woff2") format("woff2"), /* Super Modern Browsers */
  url("../fonts/public-sans-v5-latin-100.woff") format("woff"), /* Modern Browsers */
  url("../fonts/public-sans-v5-latin-100.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/public-sans-v5-latin-100.svg#PublicSans") format("svg"); /* Legacy iOS */
}
/* public-sans-regular - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v5-latin-regular.eot"); /* IE9 Compat Modes */
  src:
  url("../fonts/public-sans-v5-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/public-sans-v5-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
  url("../fonts/public-sans-v5-latin-regular.woff") format("woff"), /* Modern Browsers */
  url("../fonts/public-sans-v5-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/public-sans-v5-latin-regular.svg#PublicSans") format("svg"); /* Legacy iOS */
}
/* public-sans-500 - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/public-sans-v5-latin-500.eot"); /* IE9 Compat Modes */
  src:
  url("../fonts/public-sans-v5-latin-500.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/public-sans-v5-latin-500.woff2") format("woff2"), /* Super Modern Browsers */
  url("../fonts/public-sans-v5-latin-500.woff") format("woff"), /* Modern Browsers */
  url("../fonts/public-sans-v5-latin-500.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/public-sans-v5-latin-500.svg#PublicSans") format("svg"); /* Legacy iOS */
}
:root{
  --color-gradient:linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  --color-green:#30C88F;
  --color-dark:#2D314D;
  --color-grey:#9597A5;
  --color-white:#fff;
  --bg-color-grey:#F4F5F7;
}


html {
  box-sizing: border-box;
  height: 100%;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:"Public Sans", "Arial", sans-serif;
  font-weight: normal;
  background-color: #FAFAFA;
  overflow-x: hidden;
  margin-top: 80px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.site__header{
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
}
.site__header-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo-link{
  text-decoration: none;
  transition: opacity 0.3s ease;
}
.header__logo-img{
  display: block;
}
.header__logo-link:hover{
  opacity: 0.8;
}
.site__nav-list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.site__nav-item ~ .site__nav-item{
  margin-left: 30px;
}
.site__nav-item{
  padding: 32px 0;
  border-bottom: 4px solid transparent;
  transition: border 0.3s ease;
}

.site__nav-item:hover{
  border-bottom: 4px solid var(--color-green);
}
.site__nav-link{
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: var(--color-grey);
  transition: color 0.3s ease;
}
.site__nav-link:hover{
  color: var(--color-dark);
}
.button{
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-decoration: none;
  color: var(--color-white);
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  padding: 8px 34px;
  border-radius: 22px;
  transition: opacity 0.3s ease;
}
.button:hover{
  opacity: 0.4;
}

/* MAIN */
.site__main{
  position: relative;
  z-index: 1;
}
.hero__content{
  width: 447px;
}
.hero__heading{
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: var(--color-dark);
  margin-bottom: 24px;
}
.hero__desc{
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: var(--color-grey);
  margin-bottom: 36px;
}

.hero{
  padding-top: 170px;
  padding-bottom: 170px;
  content: "";
  background-image: url(../img/hero-bg-desktop.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 590px) -260px;
}

.hero__img{
  position: absolute;
  z-index: 99;
  width: 800px;
  height: 900px;
  bottom: calc(50% + 212px);
  left: calc(50% + 75px);
}

/* FEATURES */
.features{
  padding: 95px 0;
  background-color: var(--bg-color-grey);
}
.features__header{
  max-width: 635px;
}
.features__heading{
  padding: 0;
  margin: 0;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: var(--color-dark);
  margin-bottom: 16px;
}
.features__desc{
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: var(--color-grey);
  margin-bottom: 72px;
}

.features__list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.features__item{
  max-width: 255px;
}

.features__item ~ .features__item{
  margin-left: 30px;
}
.features__item-title::before{
  content: "";
  width: 72px;
  height: 72px;
  background-image: url(../img/online-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  display: block;
  margin-bottom: 40px;
}
.simple-icon::before{
  background-image: url(../img/simple-icon.svg);
}
.fast-icon::before{
  background-image: url(../img/fast-icon.svg);
}
.api-icon::before{
  background-image: url(../img/api-icon.svg);
}

.features__item-title{
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
  color: var(--color-dark);
  margin-bottom: 26px;
}


.features__item-desc{
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: var(--color-grey);
}

.articles{
  padding: 80px 0;
}

.articles__heading{
  padding: 0;
  margin: 0;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  margin-bottom: 40px;
}
.articles__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.articles__item{
  max-width: 255px;
  background-color: var(--color-white);
  border-radius: 5px;
}
.articles__item ~ .articles__item{
  margin-left: 30px;
}
.articles__box{
  padding: 24px;
}
.articles__item-title{
  padding: 0;
  margin: 0;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  color: var(--color-grey);
  margin-bottom: 8px;
}
.article__item-link{
  display: inline-block;
  text-decoration: none;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.285714px;
  color: var(--color-dark);
  margin-bottom: 8px;
  transition: color 0.3s ease;
}
.article__item-link:hover{
  color: var(--color-green);
}

.articles__item-desc{
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
  color: var(--color-grey);
}

/* FOOTER */
.site__footer{
  padding: 48px 0;
  background-color: var(--color-dark);
}
.footer__logo-link{
  display: inline-block;
  margin-bottom: 55px;
}
.footer__logo-img{
  display: block;
}
.sotcial-links__list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.sotcial-links__item ~ .sotcial-links__item{
  margin-left: 13px;
}
.sotcial-links__link{
  color: var(--color-white);
  transition: color 0.3s ease;
}
.sotcial-links__link:hover{
  color: var(--color-green);
}

.footer__container{
  display: flex;
}

.footer__nav-list{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 131px;
}
.footer__nav-item ~ .footer__nav-item{
  margin-top: 8px;
}
.footer__nav-link{
  text-decoration: none;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: var(--color-white);
  transition: color 0.3s ease;
}
.footer__nav-link:hover{
  color: var(--color-green);
}

.footer__desc{
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: var(--color-white);
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 24px;
}
.footer__button-desc{
  margin-left: auto;
  text-align: right;
}